  @font-face { font-family: Monofett; src: url('fonts/Monofett-Regular.TTF'); } 

  html{
    font-family:"Verdana",sans-serif;
  }

  h2{
    font-family:"Viafont";
    font-size: 30px;
    text-align: end;
    padding-right: 112px;

  }
  h3{
    font-size: 50px;
    text-align: center;
  }
  h4,h5,h6 {
    font-family:"Segoe UI",sans-serif;
  }

  p{
    font-family:"Segoe UI",sans-serif;
    font-size: large;
  }
  body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#dc40c0, #6e26e2);
    font-family: Arial, Helvetica, sans-serif;

    /* This centers our sketch horizontally. */
    justify-content: center;
  }

  .white_background{
    border-radius: 25px;
    background-color: white;
    padding: 10px;
  }

  .dots{
    background-image: radial-gradient(#6e26e2 3px, transparent 0), radial-gradient(#6e26e2 3px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
  }

  .erase_effect{
    background-image: linear-gradient(#dc40bfe0, transparent);
  }
  .container {
    padding-top: 15px;
   }

  .banner {
    border-radius: 25px;
    position:relative;
    width: 900px;
    margin: auto;
    /*background-color: white;*/
    padding: 10px;
    margin-bottom: 15px;
  }

  .black_outline {
    background: black;
    border-radius: 25px;
    padding: 10px;
    position:relative;
  }

  .purple_body {
    background: #2d0967;
    border-radius: 25px;
    padding: 10px;
    position:relative;
  }

  #about_me{
    text-align: center;
    
  }

  #about_me > img{
    position:absolute;
    bottom: 50px;
    left: 250px;
    opacity: 0%;
    scale: 200%;
  }

  #about_me >img:hover{
    transition: opacity 10s;
    opacity: 100%;
  }

  #about_me >img:  {
    opacity: 100%;
  }

  #logo {
    /*background: #2d0967;*/
    border-radius: 25px;
    position:relative;
    padding: 10px;
  }

  .nav {
    column-count: 3;
    width: 800px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }

  .nav a > img {
    transition: transform .1s;
  }

  .nav a > img:hover {
    transform: scale(1.2);
  }

  .nav a.active {
  }

  .main {
    border-radius: 25px;
    position:relative;
    width: 1000px;
    min-height: 60px;
    margin: auto;
    padding-top:15px;
    color: white;
    
  }

  img {
    border-radius: 25px;
    max-width: 100%;
    display: block;
  }
  
  figure {
    transition: transform .2s;
    padding: 7px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10px;
    break-inside: avoid;
    background-color: white;
    border-radius: 25px;
  }

  figure:hover{
    transform: scale(1.1);
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  figure a {
    color: black;
    text-decoration: none;
  }
  
  figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
  }

  .canvas{
    border-radius: 25px;
  }

  #block{
    margin: 25px;
  }
  .double_gallery{
    column-count: 2;
    column-gap: 10px;
  }

  .single_gallery{
    column-count: 1;
    column-gap: 10px;
    border-radius: 25px;
  }

  .footer{
    text-align: center;
    background-color: #602db3;
    color: white;
  }

  .socials_gallery{
    width: 500px;
    column-count: 5;
    margin: auto;
  }