  @font-face { font-family: Monofett; src: url('fonts/Monofett-Regular.TTF'); } 

  html{
    font-family:"Verdana",sans-serif;
  }

  h2{
    font-family:"Viafont";
    font-size: 30px;
    text-align: center;
  }
  h3{
    font-size: 50px;
  }

  h4{
    line-height: .3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 30px;
    color:black;
  }

  h4 > u{
    color: white;
  }
  
  h5,h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  }

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#dc40c0, #6e26e2);
    font-family: Arial, Helvetica, sans-serif;

    /* This centers our sketch horizontally. */
    justify-content: center;
  }

  .white_background{
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    border-width: 10px;
  }

  .dots{
    background-image: radial-gradient(#6e26e2 4px, transparent 0), radial-gradient(#6e26e2 4px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
  }

  .erase_effect{
    background-image: linear-gradient(#dc40bfe0, transparent);
  }
  .container {
    padding: 15px;
   }

  .banner {
    border-radius: 25px;
    position:relative;
    width: 900px;
    margin: auto;
    /*background-color: white;*/
    padding: 10px;
    margin-bottom: 15px;
  }

  .purple_body {
    background: #3b1081a1;
    border-radius: 25px;
    padding: 10px;
    position:relative;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 25px;
  }

  #about_me{
    text-align: center;
    
  }

  #about_me > img{
    position:absolute;
    bottom: 50px;
    left: 250px;
    opacity: 0%;
    scale: 200%;
  }

  #about_me >img:hover{
    transition: opacity 10s;
    opacity: 100%;
  }

  #about_me >img:  {
    opacity: 100%;
  }

  #logo {
    /*background: #2d0967;*/
    border-radius: 25px;
    position:relative;
    padding: 10px;
  }

  .nav {
    column-count: 3;
    width: 800px;
    margin: auto;
  }

  #portfolio{
    padding-bottom: 20px;   
  }

  .nav a > img {
    transition: transform .1s;
  }

  .nav a > img:hover {
    transform: scale(1.2);
  }

  .nav a.active {
  }

  .main {
    position:relative;
    width: 1000px;
    min-height: 60px;
    margin: auto;
    padding-top:15px;
    color: white;
  }

  img {
    border-radius: 25px;
    max-width: 100%;
    display: block;
  }
  
  figure {
    transition: transform .1s;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    break-inside: avoid;
    border-radius: 42px;
    background-color: black;
    border: white;
    border-width: 10px;
    border-style: solid;
  }

  figure:hover{
    transform: scale(1.2);
  }

  #play-button{
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 7px;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  .canvas{
    border-radius: 25px;
  }

  #block{
    margin: 25px;
  }
  
  .double_gallery{
    column-count: 2;
    column-gap: 10px;
  }

  .double_gallery > p{
    margin: auto;
    text-align: left;
  }

  .double_gallery > img{
    margin: auto;
    text-align: left;
  }

  .single_gallery{
    column-count: 1;
    column-gap: 10px;
    border-radius: 25px;
  }

  #label{
    margin: 50px;
  }

  .single_gallery img{
    margin: auto;
    display: block;
  }

  .footer{
    padding-bottom: 20px;
    text-align: center;
    background-color: #602db3;
    color: white;
  }

  .socials_gallery{
    width: 500px;
    column-count: 5;
    margin: auto;
  }

  .text_container{
    padding: 10px;
  }

  a{
    color: #7891e4;
    font-style: italic;
  }

  #project{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  button {
    background: #0e0b22;
    color: #fff;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    cursor: pointer;
    background: #000000c4;
  }

  #more_text{
    min-height: 270px;
  }

  address{
    padding: 10px;
    font-size: 20px;
  }

  .divider{
    margin: auto;
    max-width: 300px;
    column-count: 2;
  }

  iframe, video{
    display: block;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 25px;
    background-color: black;
    padding: 10px;
    margin: auto;
    width: 90%;
  }

@media screen and (max-width: 481px){
  .banner {
    border-radius: 25px;
    position:relative;
    width: 100%;
    margin: auto;
    /*background-color: white;*/
    padding: 10px;
    margin-bottom: 15px;
  }

  .nav {
    column-count: 3;
    width: 100%;
    margin: auto;
  }

  .nav a > img {
    scale: 1.3;
  }

  .main{
    width: 100%;
  }

  .socials_gallery{
    width: 85%;
    column-count: 5;
    margin: auto;
  }

  figure {
    transition: transform .1s;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    break-inside: avoid;
    border-radius: 42px;
    background-color: black;
    border: white;
    border-width: 10px;
    border-style: solid;
  }
}